<div>
  <ul>
    @for (enemy of enemies; track enemies.forEach) {
    <span>{{ enemy[0] }} is enemy<br /></span>
    }
  </ul>

  <ul>
    @for (enemy of enemies; track enemies.forEach) {
    <li>
      {{ enemy[0] }} has {{ enemy[1] }} HP and has {{ enemy[2] }} attack damage.
    </li>
    }
  </ul>

  <ul>
    @for (enemy of enemies; track enemies.forEach) {
    <span>There is a {{ enemy[0] }} at {{ enemy[3] }} <br /></span>
    }
  </ul>
  <br />
  <span
    >Hero has {{ heroStats[0] }} HP and has {{ heroStats[1] }} attack
    damage.</span
  >
</div>
<br><br>
<div>
  <button [hidden]="isButtonHidden" (click)="journeyBegin()">Begin your journey!</button>
  <h1>{{ startMessage }}</h1>
  <button [hidden]="isButtonHidden" (click)="fightFunction()">Let's get into your first fight</button>
</div>
